{% extends "base.html.twig" %}

{% block body %}

{{ form_start(form) }}

{{ form_row(form.marque) }}
{{ form_row(form.modele) }}
{{ form_row(form.prix) }}
{{ form_row(form.description) }}

<button type="submit" class="btn btn-primary mt-2">

{% if editMode %}
    Enregistrer les modifications
{% else %}
    Ajouter la voiture
{% endif %}

</button>

{{ form_end(form) }}

{% endblock %}